@CHARSET "UTF-8";
body, ul, ol, h1, h2, form, td, th {
	margin:0;
	padding:0;
	list-style:none;
}
body {
	font:small/normal arial;
	font-size:small;
	text-align:center;
}
a {
	color:#0052CC;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}

/***头部样式***/
#header {
	/*height:160px;*/
	width:100%;
	overflow:hidden;
	background:#000;
}
.top_link{
	z-index:10;
	position: absolute;
	top:20px;
	right: 100px;
	color:#F3DB09;
	font-size: 14px;
}

.top_link a {
	color:#F3DB09;
}
.top_link a:hover {
	color:#F3DB09;
}
.topbar {
	position: absolute;
	right:5px;
	top:85px;
	color:#999999;
	
}
.topbar a{color:#999;margin:0 10px;}
.logo {
	width:190px;
	height:49px;
	float:left;
	background:url(../images/logo.jpg) no-repeat left -5px;
	overflow:hidden;
	margin:17px 10px 0 0;
}
#navbox {
	margin-bottom:15px;
	position:relative;
	/*border-bottom:5px solid #555;*/
	height:110px;
	width:960px;
	align:center;
	margin:auto;
}
.mainnav {
	float:left;
	position:absolute;
	bottom:0;
	left:50px;
	
}
.mainnav li {
	float:left;
	margin:0px 20px 0 0;
	width:100px;
	line-height:30px;
	text-align:center;
	font-size:18px;
	background:#555 no-repeat;
	color:#fff;
	font-weight:bold;
}
.mainnav li a {
	display:block;
	height:30px;
	color:#fff;
	background:#000 no-repeat;
	font-weight:normal;
}

/**** 首页 ***/
.djimg{
	position:relative;
	width:960px;
	height:76px;
	margin: 0px;
	padding-top: 460px;
}
.djimg_text{
	z-index:10;
	width:100%;
	height:76px;
	background:#234;
	color: #fff;
	filter:alpha(opacity=80);  
    -moz-opacity:0.8;  
    -khtml-opacity: 0.8;  
    opacity: 0.8;  
}
.djimg_title{
	width: 80%;
	text-align: left;
	padding-top: 5px;
	padding-left: 50px;
	padding-right: 100px;
	font-size:22px;
	font-weight: bold;
}
.djimg_info{
	width: 80%;
	text-align: left;
	padding-left: 50px;
	padding-right: 100px;
	font-size:12px;
}
.fenlei{
	float:left;
	margin: auto;
	margin-left: 30px;
	width:279px;
}
.fenlei li{
	margin-bottom: 20px;
	background:#ddd;
}
.tj_img img{
	margin:0px;
	padding:0px;
	width: 279px;
	height: 186px;
}
.tj_desc{
	height: 50px;
	text-align: left;
	margin:5px;
	color: #fff;
}
.list{
	margin:0px;
	padding:0px;
	background:#ddd;
	width: 279px;
	height: 80px;
}
.list_img img{
	margin:0px;
	padding:0px;
	float: left;
	width: 120px;
	height: 80px;
}
.list_text{
	margin:2px;
	padding:2px;
	float: left;
	width: 150px;
	text-align: left;
	vertical-align:top ;
	color: #000;
}

.more{
	float: right;
	text-align: right;
	margin: auto;
	margin-right: 20px;
	margin-bottom: 20px;
	width:960px;
}

/***** 二级页面 *******/
/**正文部分**/
#mainbody {
	width:100%;
	overflow:hidden;
	background:#fff;
	margin-bottom:30px;
}
#mainc {
	position:relative;
	width:960px;
	align:center;
	margin: auto;
	margin-top: 40px;
	margin-bottom:20px;
}
.topimg{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 960px;
	padding:0;
}
.topimg_text{
	position:relative;
	width:960px;
	height:75px;
	margin: 0px;
	padding: 0px;
	
	text-align: right;
	padding-top: 380px;
	padding-right: 30px;
	font-family: 宋体;
	font-size:48px;
	color:#fff;
	/*
	font-weight:bold;
	position:absolute;
	z-index:10;
	margin: auto;
	float: right;
	vertical-align: bottom ;
	margin-bottom:50px;
	*/
}
.main-left{
	float:left;
	position:absolute;
	background:#fff;
	width:560px;
	margin:auto;
	margin-left: 20px;
	margin-right: 10px;
	text-align: left;
	font-size:16px;
}
.main-right{
	float:left;
	margin-left: 610px;
}


/**正文部分2**/
#mainbody2 {
	width:100%;
	overflow:hidden;
	background:#ddd;
}
#mainc2 {
	position:relative;
	width:960px;
	align:center;
	margin:auto;
	margin-top: 20px;
	margin-bottom:15px;
}
.mainc_title{
	text-align: left;
	font-weight:bold;
	font-size:18px;
	background: url(../images/01.jpg) no-repeat left;
	margin-left: 0px;
	padding-left: 20px;
}
.mainc_img{
	text-align: left;
}
.mainc_img ul{
	background:#fff;
	float:left;
	margin:10px 4px 20px 4px;
	width:231px;
}
.shey_img img{
	width:231px;
	height:154px;
}
.shey_txt{
	margin:5px 5px 5px 10px;
	height:30px;
	color: #000;
}

/***详情页***/
.main_new {
	position:relative;
	width:960px;
	align:center;
	margin: auto;
}
.main_new_nav{
	position:relative;
	width: 940px;
	margin:0px;
	padding-left: 20px;
	padding-top: 5px;
	background:#999;
	height:25px;
	text-align:left;
	font-size:14px;
	margin-bottom:20px;
	color:#000;
}
.main_content{
	float:left;
	position:relative;
	width: 600px;
	margin-bottom:20px;
	text-align:left;
	background:#ccc;
	padding:40px;
}
.main_daily{
	float:right;
	position:relative;
	margin-bottom:20px;
	padding-bottom:40px;
}

/***尾部***/
.ifooter {
	margin:0 auto; 
	width:100%; 
	height:148px;
	margin-top:20px;
	padding-left:0px;
	background:#fff;
	border-top:1px solid #DEDEDE;
}
.ifooter a {color:#666666;}
.ifooter a:hover {color:#F89646; text-decoration:none}
.ifooter .ifooter_1 { margin:0 auto; padding:0; width:979px; height:30px; padding-top:20px; font:800 14px/26px arial; text-align:center}
.ifooter .ifooter_2 { margin:0 auto; padding:0; width:979px; padding-top:10px; font:300 14px/26px arial; color:#666666; text-align:center}