@CHARSET "UTF-8";
body, ul, ol, h1, h2, form, td, th {
	margin:0;
	padding:0;
	list-style:none;
}
body {
	font:small/normal arial;
	font-size:small;
	text-align:center;
}
a {
	color:#0052CC;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}

/***头部样式***/
#header {
	/*height:160px;*/
	width:100%;
	overflow:hidden;
	background:#000;
}
.topbar {
	position:absolute;
	right:5px;
	top:85px;
	color:#999999;
	
}
.topbar a{color:#999;margin:0 10px;}
.logo {
	width:190px;
	height:49px;
	float:left;
	background:url(../images/logo.jpg) no-repeat left -5px;
	overflow:hidden;
	margin:17px 10px 0 0;
}
#navbox {
	margin-bottom:15px;
	position:relative;
	/*border-bottom:5px solid #555;*/
	height:110px;
	width:960px;
	align:center;
	margin:auto;
}
.mainnav {
	float:left;
	position:absolute;
	bottom:0;
	left:50px;
	
}
.mainnav li {
	float:left;
	margin:0px 20px 0 0;
	width:100px;
	line-height:30px;
	text-align:center;
	font-size:18px;
	background:#555 no-repeat;
	color:#fff;
	font-weight:bold;
}
.mainnav li a {
	display:block;
	height:30px;
	color:#fff;
	background:#000 no-repeat;
	font-weight:normal;
}

/**** 首页 ***/
.fenlei{
	float:left;
	margin: auto;
	margin-left: 30px;
	width:280px;
}
.fenlei li{
	margin-bottom: 20px;
	background:#ddd;
}
.tj_img img{
	margin:0px;
	padding:0px;
	width: 280px;
	height: 180px;
}
.tj_desc{
	height: 50px;
	text-align: left;
	margin:5px;
	color: #fff;
}
.list{
	margin:0px;
	padding:0px;
	background:#ddd;
	width: 280px;
	height: 80px;
}
.list_img img{
	margin:0px;
	padding:0px;
	float: left;
	width: 126px;
	height: 80px;
}
.list_text{
	margin:2px;
	padding:0px;
	float: left;
	width: 150px;
	text-align: left;
	vertical-align:top ;
	color: #000;
}

.more{
	float: right;
	text-align: right;
	margin: auto;
	margin-right: 20px;
	margin-bottom: 20px;
	width:960px;
}

/***** 二级页面 *******/
/**正文部分**/
#mainbody {
	width:100%;
	overflow:hidden;
	background:#fff;
	margin-bottom:30px;
}
#mainc {
	position:relative;
	width:960px;
	align:center;
	margin: auto;
	margin-top: 40px;
	margin-bottom:20px;
}
.topimg{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
	padding:0;
}
.main-left{
	float:left;
	position:absolute;
	background:#fff;
	width:550px;
	margin:auto;
	margin-left: 20px;
	margin-right: 10px;
	text-align: left;
	font-size:15px;
}
.main-right{
	float:left;
	margin-left: 600px;
}


/**正文部分2**/
#mainbody2 {
	width:100%;
	overflow:hidden;
	background:#ddd;
}
#mainc2 {
	position:relative;
	width:960px;
	align:center;
	margin:auto;
	margin-top: 20px;
	margin-bottom:15px;
}
.mainc_title{
	text-align: left;
	font-weight:bold;
	font-size:18px;
	background: url(../images/01.jpg) no-repeat left;
	margin-left: 0px;
	padding-left: 20px;
}
.mainc_img{
	text-align: left;
}
.mainc_img ul{
	background:#fff;
	float:left;
	margin:0px 10px 20px 0px;
	width:230px;
}
.shey_img img{
	width:230px;
	height:150px;
}
.shey_txt{
	margin:5px 5px 5px 10px;
	height:30px;
	color: #000;
}

/***详情页***/
.main_new {
	position:relative;
	width:960px;
	align:center;
	margin: auto;
	margin-bottom:20px;
	text-align:left
}
.main_new_nav{
	position:relative;
	width:100%;
	margin:0px;
	padding-left: 20px;
	padding-top: 5px;
	background:#ddd;
	height:25px;
	text-align:left;
	font-size:14px;
	margin-bottom:20px;
	color:#000;
}
/***尾部***/
.ifooter {
	margin:0 auto; 
	width:1004px; 
	height:148px;
	margin-top:20px;
	padding-left:0px;
	background:#fff;
	border-top:1px solid #DEDEDE;
}
.ifooter a {color:#666666;}
.ifooter a:hover {color:#F89646; text-decoration:none}
.ifooter .ifooter_1 { margin:0 auto; padding:0; width:979px; height:30px; padding-top:20px; font:800 14px/26px arial; text-align:center}
.ifooter .ifooter_2 { margin:0 auto; padding:0; width:979px; padding-top:10px; font:300 14px/26px arial; color:#666666; text-align:center}